<nav class="navbar is-white">
  <%= image_tag "DressTheChild.png", class: "dtc-logo" %>
  <div class="navbar-end">
    <div class="navbar-item">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button is-outlined is-danger", id: "sign-out-btn" %>
      <br>
      <%= link_to "Change Password", edit_user_registration_path, class: "button is-outlined is-dark" %> 
    </div>
  </div>
</nav>

<div class="tabs is-boxed is-fullwidth">
  <ul>
    <li class="is-active" id="main-tab">
      <a onClick="switchToMain()">
        <span class="icon is-small"><i class="fas fa-hand-holding-usd" aria-hidden="true"></i></span>
        <span>Donations</span>
      </a>
    </li>
    <li id="contacts-tab">
      <a onClick="switchToContacts()">
        <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
        <span>Contacts</span>
      </a>
    </li>
    <li id="users-tab">
      <a onClick="switchToUsers()">
        <span class="icon is-small"><i class="fas fa-user-edit" aria-hidden="true"></i></span>
        <span>Users</span>
      </a>
    </li>
  </ul>
</div>

<% if notice.present? || alert.present? %>
<div class="notification is-primary">
  <button class="delete"></button>
  <h3><%= alert %></h3>
  <h3><%= notice %></h3>
</div>
<% end %>

<div class="container" id="main">
  <div class="circles">
    <div class="metric-square">
      Total Donors
      <div class="donors-circle"><%= @presenter.retrieve_total_donors %></div>
    </div>
    <div class="metric-square">
      Stripe
      <div class="stripe-circle"><%= number_to_currency(@presenter.retrieve_stripe_subtotal, unit: '$', precision: 0) %></div>
    </div>
    <div class="metric-square">
      Total Raised
      <div class="donations-circle"><%= number_to_currency(@presenter.retrieve_all_total, unit: '$', precision: 0) %></div>
    </div>
    <div class="metric-square">
      Checks
      <div class="checks-circle"><%= number_to_currency(@presenter.retrieve_check_subtotal, unit: '$', precision: 0) %></div>
    </div>
    <div class="metric-square">
      Kids Sponsored
      <div class="kids-circle"><%= @presenter.calculate_kids_sponsored %></div>
    </div>
  </div>

  <div class="container" id="filter-form">
    <%= form_for '', :method => :get do |f| %>
      <%= f.date_field :start_date, class: 'input is-primary', placeholder: "date", id: "start" %>
      <%= f.date_field :end_date, class: 'input is-primary', placeholder: "date", id: "end" %>
      <%= f.submit 'Filter Donations', class: "button is-inverted is-outlined is-link", id: "filter-btn"%>
    <% end %>
  </div>

  <div class="container" id="donations-table">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th class="has-text-centered">Name</th>
          <th class="has-text-centered">City</th>
          <th class="has-text-centered">State</th>
          <th class="has-text-centered">Email Address</th>
          <th class="has-text-centered">Amount</th>
          <th class="has-text-centered">Date</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.retrieve_all_donations.each do |donation| %>
          <tr>
            <td class="name has-text-centered"><%= donation.name %></td>
            <td class="city has-text-centered"><%= donation.city %></td>
            <td class="state has-text-centered"><%= donation.state %></td>
            <td class="email has-text-centered"><%= donation.email %></td>
            <td class="amount has-text-centered"><%= number_to_currency(donation.amount.to_i / 100.00, unit: '$') %></td>
            <td class="date has-text-centered"><%= donation.date %></td>
            <% if donation.donation_type == "Check" %>
            <td class="delete-donation"><%= donation.donation_type %> <%= link_to donation_path(donation), class:'donation-delete', method: :delete, data: { confirm: 'Are you sure you want to delete this donation?' } do %><i class="far fa-trash-alt"></i><% end %></td>
            <% else %>
              <td class="type"><%= donation.donation_type %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container" id="donate-form">
    <p>Fill out the form to add a new check or cash donation.</p>
    <%= form_for @presenter.create_new_donation do |f| %>
      <%= f.text_field :name, class: 'input is-primary', placeholder: "name", id:"name" %>
      <%= f.text_field :city, class: 'input is-primary', placeholder: "city", id:"city" %>
      <%= f.text_field :state, class: 'input is-primary', placeholder: "state", id:"state" %>
      <%= f.text_field :email, class: 'input is-primary', placeholder: "email", id:"email" %>
      <%= f.number_field :amount, class: 'input is-primary', placeholder: "amount", id:"amount" %>
      <%= f.date_field :date, class: 'input is-primary', placeholder: "date", id:"date" %>
      <%= f.hidden_field :donation_type, value: 'Check' %>
      <%= f.hidden_field :stripe_id, value: '' %>
      <%= f.submit "Add Donation", class: "button is-inverted is-outlined is-link" %>
    <% end %>
  </div>
</div>
<br>
<br>

<div class="container is-hidden" id="contacts">
  <div class="container" id="contacts-table">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-centered">Name</th>
          <th class="has-text-centered">Phone</th>
          <th class="has-text-centered">Email Address</th>
          <th class="has-text-centered">Organization</th>
          <th class="has-text-centered">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.retrieve_contacts.each do |contact| %>
          <tr>
            <td class="name has-text-centered"><%= contact.name %></td>
            <td class="phone has-text-centered"><%= contact.phone %></td>
            <td class="email has-text-centered"><%= contact.email %></td>
            <td class="organization has-text-centered"><%= contact.organization %> </td>
            <td class="delete-user has-text-centered"><%= link_to contact_path(contact), class:'contact-delete', method: :delete, data: { confirm: 'Are you sure you want to delete this donation?' } do %><i class="far fa-trash-alt"></i><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container" id="contact-form">
    <p>Fill out the form to add a new contact.</p>
    <%= form_for @presenter.create_new_contact do |f| %>
      <%= f.text_field :name, class: 'input is-primary', placeholder: "name", id:"contact-name" %>
      <%= f.text_field :phone, class: 'input is-primary', placeholder: "phone", id:"contact-phone" %></br>
      <%= f.text_field :email, class: 'input is-primary', placeholder: "email", id:"contact-email" %>
      <%= f.text_field :organization, class: 'input is-primary', placeholder: "organization", id:"contact-organization" %></br>
      <%= f.submit "Add Contact", class: "button is-inverted is-outlined is-link" %>
    <% end %>
  </div>
</div>

<div class="container is-hidden" id="users">
  <div class="container" id="users-table">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-centered">Created</th>
          <th class="has-text-centered">Account Email</th>
          <th class="has-text-centered">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.retrieve_users.each do |user| %>
          <tr>
            <td class="has-text-centered"><%= user.created_at.to_date %>
            <td class="has-text-centered"><%= user.email %></td>
            <td class="has-text-centered"><%= link_to user_path(user), class:'user-delete', method: :delete, data: { confirm: 'Are you sure you want to delete this donation?' } do %><i class="far fa-trash-alt"></i><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container" id="user-form">
    <p>Fill out the form to add a new user.</p>
    <%= form_for @presenter.create_new_user do |f| %>
      <%= f.text_field :email, class: 'input is-primary', placeholder: "email", id:"user-email" %>
      <%= f.text_field :password, class: 'input is-primary', placeholder: "password", id:"user-password" %></br>
      <%= f.submit "Add User", class: "button is-inverted is-outlined is-link" %>
    <% end %>
  </div>
</div>

<script>
  const mainClasses = document.getElementById("main").classList;
  const contactsClasses = document.getElementById("contacts").classList;
  const usersClasses = document.getElementById("users").classList;
  const mainTabClasses = document.getElementById("main-tab").classList;
  const contactsTabClasses = document.getElementById("contacts-tab").classList;
  const usersTabClasses = document.getElementById("users-tab").classList;
  var deleteButtons = document.getElementsByClassName('delete');

  for (var i = 0; i < deleteButtons.length; i++) {
  deleteButtons[i].addEventListener('click', dismiss); 
  };

  function dismiss(e) {
    this.parentNode.classList.add('is-hidden');
  };

  function notification() {

  };

  function switchToMain() {
    hideAll();
    mainClasses.add("is-active");
    mainClasses.remove("is-hidden");
    mainTabClasses.add("is-active");
  };

  function switchToContacts() {
    hideAll();
    contactsClasses.add("is-active");
    contactsClasses.remove("is-hidden");
    contactsTabClasses.add("is-active");
  };

  function switchToUsers() {
    hideAll();
    usersClasses.add("is-active");
    usersClasses.remove("is-hidden");
    usersTabClasses.add("is-active");
  };

  function hideAll(){
    mainClasses.add("is-hidden");
    contactsClasses.add("is-hidden");
    usersClasses.add("is-hidden");
    mainTabClasses.remove("is-active");
    contactsTabClasses.remove("is-active");
    usersTabClasses.remove("is-active");
  };

</script>
