<nav class="navbar" role="navigation" aria-label="main navigation">

  <article class="logo-box">
    <%= image_tag "DressTheChild.svg", class: "dtc-logo" %>
  </article>

  <article class="donation-metrics">
    <div class="metric-square">
      Total Donors
      <div class="donors-circle"><%= @presenter.retrieve_total_donors %></div>
    </div>
    <div class="metric-square">
      Funds Raised
      <div class="donations-circle"><%= number_to_currency(@presenter.retrieve_all_total, unit: '$', precision: 0) %></div>
    </div>
    <div class="metric-square">
      Kids Sponsored
      <div class="kids-circle"><%= @presenter.calculate_kids_sponsored %></div>
    </div>
  </article>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary">
          <strong>Change Password</strong>
        </a>
        <a class="button is-danger">
          <strong>Sign Out</strong>
        </a>
      </div>
    </div>
  </div>
</nav>

 <div class="columns">
  <div class="column is-one-third">
    <div id="donate-form">
     <h1 class="title">Add Donation</h1>
      <%= form_for @presenter.create_new_donation do |f| %>
      <%= f.date_field :date, class: 'input is-primary', placeholder: "date" %>
      <%= f.text_field :name, class: 'input is-primary', placeholder: "name" %>
      <%= f.text_field :email, class: 'input is-primary', placeholder: "email" %>
      <%= f.text_field :city, class: 'input is-primary', placeholder: "city" %>
      <%= f.text_field :state, class: 'input is-primary', placeholder: "state" %>
      <%= f.number_field :amount, class: 'input is-primary', placeholder: "amount" %>
      <%= f.hidden_field :donation_type, value: 'Check' %>
      <%= f.hidden_field :stripe_id, value: '' %>
      <%= f.submit "Create Donation", class: "button is-warning" %>
      <% end %>
    </div>
  </div>
  <div class="column is-7">
    <div class="tables">
      <div class="donation-table">
        <table class="credit-table">
          <thead class="credit-head">
            <tr>
              <th width="25%">Name</th>
              <th width="15%">City</th>
              <th width="10%">State</th>
              <th width="25%">Email</th>
              <th width="10%">Amount</th>
              <th width="15%">Date</th>
            </tr>
          </thead>
          <tbody>
          <% @presenter.retrieve_stripe_donations.each do |donation| %>
            <tr>
              <td width="25%"><%= donation.name %></td>
              <td width="15%"><%= donation.city %></td>
              <td width="10%"><%= donation.state %></td>
              <td width="25%"><%= donation.email %></td>
              <td width="10%"><%= donation.amount %></td>
              <td width="15%"><%= donation.date %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <div class="subtotal-row">Sub-Total</div>
      </div>
      <br>
      <div class="donation-table">
        <table class="check-table">
          <thead class="check-head">
            <tr>
              <th width="25%">Name</th>
              <th width="15%">City</th>
              <th width="10%">State</th>
              <th width="25%">Email</th>
              <th width="10%">Amount</th>
              <th width="15%">Date</th>
            </tr>
          </thead>
          <tbody>
          <% @presenter.retrieve_check_donations.each do |donation| %>
            <tr>
              <td width="25%"><%= donation.name %></td>
              <td width="15%"><%= donation.city %></td>
              <td width="10%"><%= donation.state %></td>
              <td width="25%"><%= donation.email %></td>
              <td width="10%"><%= donation.amount %></td>
              <td width="15%"><%= donation.date %>  <%= link_to 'Delete', donation_path(donation), method: :delete, data: { confirm: 'Are you sure you want to delete this donation?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <div class="subtotal-row">Sub-Total</div>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="filter-form">
      <%= form_tag '', :method => :get do %>
        <%= date_field_tag :start_date %>
        <%= date_field_tag :end_date %>
        <%= submit_tag 'Filter Donations', class: "button is-warning" %>
      <% end %>
    </div>
 </div>