<h1>Donations</h1>

  <%= form_tag '', :method => :get do %>
    <%= date_field_tag :start_date %>
    <%= date_field_tag :end_date %>
    <%= submit_tag 'Filter' %>
  <% end %>

 <h2>Stripe Donations</h2>
  <% @presenter.retrieve_stripe_donations.each do |donation| %>
    <ul>
      <%= donation.name %>
      <%= donation.city %>
      <%= donation.state %>
      <%= donation.email %>
      <%= donation.amount %>
      <%= donation.donation_type %>
      <%= donation.date %>
    </ul>
  <% end %>

 <h2>Check Donations</h2>
  <% @presenter.retrieve_check_donations.each do |donation| %>
    <ul>
      <%= donation.name %>
      <%= donation.city %>
      <%= donation.state %>
      <%= donation.email %>
      <%= donation.amount %>
      <%= donation.donation_type %>
      <%= donation.date %>
      <%= link_to 'Delete', donation_path(donation), method: :delete, data: { confirm: 'Are you sure you want to delete this donation?' } %> 
    </ul>
  <% end %>

<h1>Contacts</h1>
  <% @presenter.retrieve_contacts.each do |contact| %>
    <ul>
      <%= contact.name %>
      <%= contact.email %>
      <%= contact.phone %>
      <%= contact.organization %>
      <%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: 'Are you sure you want to delete this contact?' } %> 
    </ul>
  <% end %>

<div id="donate-form">
  <h3>Create Donation</h3>
    <%= form_for @presenter.create_new_donation do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <%= f.hidden_field :donation_type, value: 'Check' %>
    <%= f.hidden_field :stripe_id, value: '' %>
    <%= f.submit %>
    <% end %>
</div>

<div id="contact-form">
  <h3>Create Contact</h3>
    <%= form_for @presenter.create_new_contact do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :organization %>
    <%= f.text_field :organization %>
    <%= f.submit %>
    <% end %>
</div>

<% if current_user.admin == true %>
  <div id="user-form">
    <h3>Create User Account</h3>
      <%= form_for @presenter.create_new_user do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :password %>
      <%= f.text_field :password %>
      <%= f.submit %>
      <% end %>
  </div>

  <h1>Users</h1>
  <% @presenter.retrieve_users.each do |user| %>
    <ul>
      <%= user.email %>
      <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this account?' } %> 
    </ul>
  <% end %>
<% end %>